body {
  font-family: 'Montserrat';
  text-align: center;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: "Montserrat-Black", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #0DC3C9;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 100;
}

/* Title Section */
#title {
 text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Download Buttons */
.download-button {
  margin-top: 5%;
  margin-right: 3%;
  margin-bottom: 5%;
  margin-left: 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 28%;
}

/* Features Section */
#features {
  background-color: #fff;
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #79EEF2;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #0DC3C9;
}

/* Testimonial Section */
#testimonials {
  background-color: #79EEF2;
  color: #000;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {}

#press {
  background-color: #79EEF2;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  background-color: #0DC3C9;
}

.cta-heading {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer Section */
#footer {}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 991px) {
  #title {}

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
